.board-item {
  background-color: #0085fe;
  color: #fff;
  border-radius: 1rem;
  font-size: 24px;
  text-align: center;
  font-weight: bolder;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.applyZIndex {
  z-index: 1;
}
